{% extends "base_generic.html" %}

{% block content %}

<br>
        <div class="container">


	        <div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">
				
    				<form class="form-signini" method="post" action="{% url 'add_event' %}">  
				{% csrf_token %}
				  <label >رویداد جدید</label>
				<input type="text" class="form-control" name="name" placeholder="نام رویداد" required="true" autofocus="" />
				<input type="text" class="form-control" name="platz" placeholder="مکان رویداد" required="true"/>
				<textarea type="text" class="form-control" name="opts" placeholder=" گزینه ها را با استفاده از  ':' از هم جدا کنید  " required="true" rows="4"></textarea>
				<button class="btn btn-md btn-primary btn-block" type="submit">ساختن</button>
				</form>

				

			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
		</div>



	</div>
{% endblock %}
