{% extends "base_generic.html" %}

{% block content %}


		
        <div class="container">
        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"> 
    				<form class="form-signini" method="post" action="{% url 'edit' frage.id %}">
				{% csrf_token %}


				<input type="text" value="{{ frage.name }}" class="form-control" name="name" placeholder="Name of the event" required="true" autofocus="" />
				<input type="text" value="{{ frage.platz }}" class="form-control" name="platz" placeholder="Address of the event" required="true"/>
				<input type="text" value="{{ li }}" class="form-control form-control-lg" name="opts" placeholder="Insert every option in one line." required="true" rows="4"/>
				<button class="btn btn-md btn-primary btn-block" type="submit">تغییر</button>
				</form>



    				</form>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
		</div>
	</div>
{% endblock %}

