{% extends "base_generic.html" %}

{% block content %}

<div class="bg">
<div class="container">
<div class="text-center">
	<br>
<h1 style="color:#fff"> سایت نظر سنجی لاگ تهران</h1>
<h2 style="color:#fff">(foss)</h2>
<br>

</div>
</div>
</div>

<div class="login">
<div class="container">
<div class="text-center">
<div class="row" >
<br>
	  {% load static %}
  <div class="col-xs-12 col-sm-12 col-lg-4 ">
	  <img src="{% static 'images/account.png' %}" alt="Italian Trulli">
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-8"><h4 style="color:#0077aa"> برای ایجاد نظر سنجی باید در سایت عضو شوید<br>  اگر تا کنون عضو نشدید هم اکنون ثبت نام کنید!</h4>
	  <br>
<div class="col-lg-3"></div>
<div class="col-xs-12 col-sm-12 col-lg-3"><form class="form" action="{% url 'login' %}"><button class="btn btn-primary btn-round btn-block">ورود</button></form></div>
<div class="col-xs-12 col-sm-12 col-lg-3"><form class="form" action="{% url 'newuser' %}"><button class="btn btn-primary btn-round btn-block">ثبت نام</button></form></div>
<div class="col-lg-3"></div>
	  
  </div>
<br>


<br>
  <br>  
<br>

</div>
</div>
</div>
</div>

<div class="about">
<div class="container">
<div class="text-center">
	<br>

  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-lg-4"><a href="https://gitlab.com/shervinmo/lug_event"><img src="{% static 'images/gitlab-logo.png' %}" alt="Italian Trulli"></a></div>
    <div class="col-xs-12 col-sm-12 col-lg-8 ">
<h2 style="color:#fff"> درباره سایت:</h2>
<h4 style="color:#fff">این پروژه، یک برنامه تحت وب تحت فریم‌ورک جانگو است که برای نظرسنجی‌های برنامه‌های مرتبط با
 نرم‌افزار آزاد مورد استفاده قرار می‌گیرد. ایده اصلی شروع این پروژه به واسطه بحث در جلسات «دورهمی گنو» تهران پیرامون فقدان برنامه‌ای آزاد برای نظرسنجی زمان و مکان برگزاری دورهمی شکل گرفت.</h4></div>
  </div>
<br>

</div>
</div>
</div>





{% endblock %}
