{% extends "base_generic.html" %}

{% block content %}


		
        <div class="container">
        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"> 
    				<form class="form-signini" method="post" action="{% url 'newuser' %}">       
				{% csrf_token %}
      					<h2 class="form-signin-heading">ساختن حساب جدید </h2>
					<br>
      					<input type="text" class="form-control" name="username" placeholder="Username" required="true" autofocus="" />
					<br>
      					<input type="password" class="form-control" name="password" placeholder="Password" required="true"/>      
					<br>
      					<button class="btn btn-lg btn-primary btn-block" type="submit">ساختن</button>   
					{% if error %}
					<p style="color:red;"> نام کاربری دیگری انتخاب کنید</p>
					{% endif %}
    				</form>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
		</div>
	</div>
{% endblock %}

