{% extends "base_generic.html" %}

{% block content %}


		
        <div class="container">
        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"> 

			    	<form class="form-signini" method="post" action="{% url 'remove' frage.id %}">
				{% csrf_token %}
					<h2> این رویداد حذف شود؟</h2>
					<p> {{ frage.name }} <br> {{ frage.platz }}<br> {{ frage.id }}</p>
					<button class="btn btn-lg btn-danger btn-block" type="submit">حذف</button>

				</form>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
		</div>
	</div>
{% endblock %}

